.Task6 {
  width: relative;
  border: 2px solid gray;
  padding: 50px;
  margin: 20px;
  border-radius: 25px;
}
.title {
  width: relative;
  height: 50px;
  color: white;
  border: 2px solid gray;
  background-color: black;
  padding: 1px;
  margin: 0px;
  text-align: center;
  border-radius: 25px;
  font-size: 28px;
}
.subtitle {
  border: 1px solid gray;
  text-align: left;
  border-radius: 15px;
  background-color: gray;
}
.fname2 {
  width: 500px;
  height: 300px;
  border-radius: 15px;
}
.box {
  text-align: center;
  width: 150px;
  padding: 10px;
  background-color: blue;
  border-radius: 15px;
  margin: 0;
}
