.task1 {
  text-align: right;
}
.task2 {
  text-align: left;
}
.left {
  float: left;
}
.right {
  float: right;
}
.title {
  width: relative;
  height: 50px;
  color: white;
  border: 2px solid gray;
  background-color: black;
  padding: 1px;
  margin: 0px;
  text-align: center;
  border-radius: 25px;
  font-size: 28px;
}
.Task7 {
  width: relative;
  border: 2px solid black;
  padding: 50px;
  margin: 20px;
  border-radius: 25px;
}
