.task1 {
  text-align: right;
}
.task2 {
  text-align: left;
}
.left {
  float: left;
}
.right {
  float: right;
}

.Task4 {
  width: relative;
  border: 2px solid gray;
  padding: 50px;
  margin: 20px;
  border-radius: 25px;
}
